body {
  background-color: #fcebeb;
  font-family: Helvetica, Arial, Times, sans-serif;
  background-color: #40b3b5;
}

header {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 100%;
}

header #logo {
    float: center;
    display: block;
    margin: 0 auto;
    width: 787px;
    height: 246px;
    background-image: center;
    opacity: 0.85;
}

header #title {
  font-family: Helvetica, Arial, Times, sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #b54846;
}

nav {
  display: inline-block;
  vertical-align: top;
  width: 25%;
}

section {
  width: 100%;
}

section div {
  list-style: none;
  padding-left: 30px;
}

.palette-color {
  float: left;
  width: 100%;
  clear: both;
}

nav div {
  list-style: none;
  margin-top: 15px;
  padding: 20px;
}

h1, h2, h3 {
  font: 24pt;
  color: #2d1010;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #b54846;

}

div {
  padding: 3px;
  letter-spacing: 0.1em;
  text-transform: lowercase;
  color: #b54846;
}
